<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOLA ANTONY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">hola antony</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>CUENTAME COMO TE VA ? </strong><br>
    <p>CREO QUE MAL PI PI PI PI PI :(:´(<a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=gyVhh7VWCtc">ENTRA AQUI PARA  ALEGRARTE</a></p>
  </div>
</ion-content>
